<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="text-align:center; font-size:1.1em; background-color: yellow;">Place to play </h1>
    <div></div>
    <h2>Bonjour!</h2>
    <p>Vous avez une nouvelle candidature à une de vos performances.</p>
    <p>Connectez-vous sur <%= @url %> afin de pouvoir accéder à votre tableau de bord.</p>
  </body>
</html>