<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <div style="background-color: #180124; height: 100px">
        <h1 style="text-align:center; font-size:2.2em; color: white; padding: 25px;">Place to Play </h1>
      </div>
      <div style="padding: 70px 20px 90px 20px;">
        <h2>Bonjour,</h2>
        <p>Vous avez proposé votre candidature à cet évènement: <%= @application.performance.name%></p>
        <p>L'établissement a statué sur votre candidature qui est <%= @application.status %></p>
        <p>Vous pouvez <%= link_to 'vous connectez à votre tableau de bord', new_user_session_url %>, et contacter l'établissement sur sa fiche profil si vous le souhaitez.</p>
      </div>
      <footer style="height: 60px; background-color: transparent; text-align: center;">
        <p  style="text-muted">Copyright © PlaceToPlay 2022 / <%= link_to "Devalamer", "https://www.devalamer.fr" %> </p>
      </footer>
  </body>
</html>