<h1 class="p-5 text-center">Votre Candidature a bien été envoyée!</h1>
<h6 class="text-center">Dès que l'établissement, aura pris sa décision, vous recevrez un email informatif.</h6>
  <div class="m-4 text-center">
    <%= link_to 'retour au tableau de bord', root_path, class: "btn btn-primary" %>
  </div>  