<div class="pt-3 text-center">
  <h1>Boîte de réception</h1>
</div>
<div class="container-fluid px-2 my-3" style="height: 70vh">
  <div class="row justify-content-center h-100">
    <div class="col-md-3 border-end">
      <h2>Mes conversations</h2> 
      <div id="list" class="list-group">
        <% @conversations.each do |conversation| %>
          <% if conversation.messages.length > 0 %>
            <% recipient = conversation.find_recipient(current_user) %>
              <% if recipient.is_artist %>
                <%= link_to recipient.artist_profile.name, conversation_messages_path(conversation), remote: true, id: "#{conversation.id}", class: "list-group-item list-group-item-action #{'bg-white text-dark' if conversation.unread?(current_user) }" %>
              <% else %>
                <%= link_to recipient.venue_profile.name, conversation_messages_path(conversation), remote: true, id: "#{conversation.id}", class: "list-group-item list-group-item-action #{'bg-white text-dark' if conversation.unread?(current_user) }" %>
              <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  
    <div id="email" class="col-md-8 h-100">
      <h2>Sélectionnez un email</h2>
    </div>
  </div>
</div>

