<div class="flex-grow-1">
</div>
<h1 class="d-flex justify-content-center">Bienvenu sur Place To Play !</h1>
<h4 class="d-flex justify-content-center mb-5">Dis-nous qui tu es !</h4>
  <div class="row d-flex justify-content-evenly">
    <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
      <div class="card-header">PROPRIETAIRE
      </div>
      <div class="card-body">
        <h5 class="card-title">J'ai un établissement !</h5>
        <p class="card-text">Si tu es un propriétaire d'établissement, et voudrais proposer un endroit pour faire jouer les musiciens,
          que tu veux organiser des évènements musicaux, ou avoir acces a une liste de potentiels artistes,
          c'est par là !</p>
        <div class="d-flex justify-content-center">
          <%= link_to "Etablissement", new_venue_profile_path, class:"btn btn-lg btn-primary" %>
        </div>
      </div>
    </div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
      <div class="card-header">MUSICIEN
      </div>
      <div class="card-body">
        <h5 class="card-title">Je suis un artiste !</h5>
        <p class="card-text">Si tu es musicien, seul, ou à plusieurs, que tu veux avoir acces aux établissements qui 
        pourraient te permettre de monter sur scene, voir les bars, les restaurants ou salles de concert, etc... dans ta ville!
        c'est par ici !</p>
        <div class="d-flex justify-content-center">
          <%= link_to "Musicien", new_artist_profile_path, class:"btn btn-lg btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex-grow-1">
</div>


