
  <nav id="nav">
    <ul>
      <li>Home</li>
      <li>Accueil</li>
      <li>Contact</li>
      <li>essai</li>
    </ul>
  </nav>
  <section>
    <img src="/images/bg.png" alt="picture of party" id="bg">
    <img src="/images/musicians.png" alt="picture of party" id="musicians">
    <img src="/images/cloud_bg.png" alt="picture of party" id="cloud_bg">
    <img src="/images/cloud.png" alt="picture of party" id="cloud">
    <img src="/images/cloud_right.png" alt="picture of party" id="cloud_right">
    <img src="/images/crowd.png" alt="picture of party" id="crowd">
    <h2 id="text_parallax">PlacetoPlay</h2>
  </section>
  <main>
    <h2 class="main">PlacetoPlay, enfin là pour vous "music-connect" !</h2>
    <p class=" main">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, voluptas cupiditate. Deleniti praesentium repellat quia fugiat suscipit hic placeat corporis error repudiandae excepturi, at vitae quasi. Assumenda nobis ab impedit?</p><br>
    <p class=" main">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, voluptas cupiditate. Deleniti praesentium repellat quia fugiat suscipit hic placeat corporis error repudiandae excepturi, at vitae quasi. Assumenda nobis ab impedit?</p><br>
    <p class=" main">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, voluptas cupiditate. Deleniti praesentium repellat quia fugiat suscipit hic placeat corporis error repudiandae excepturi, at vitae quasi. Assumenda nobis ab impedit?</p><br>
    <p class=" main">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, voluptas cupiditate. Deleniti praesentium repellat quia fugiat suscipit hic placeat corporis error repudiandae excepturi, at vitae quasi. Assumenda nobis ab impedit?</p><br>
    <p class=" main">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, voluptas cupiditate. Deleniti praesentium repellat quia fugiat suscipit hic placeat corporis error repudiandae excepturi, at vitae quasi. Assumenda nobis ab impedit?</p>
  
  </main>
