
<div class ="container-fluid pt-5 pb-5 px-3 text-center" style= "background-color: #928BA1"">
  <div class="row align-items-center">
    <div class="col-md-5">
      <%= image_tag 'music_home.png', class: "img-fluid rounded-start p-2", alt:"music icon by Icons8"%>
    </div>
    <div class="col-md-6">
            <h5 class=" display-6 pb-2">Vous êtes musicien ? Besoin d'aide pour trouver des endroits où jouer ?</h5>
        <p class="p-2">Ici vous avez accès à une liste mise à jour en temps réel des établissements qui font jouer des artistes! Bars, restaurants ou salles de concert, on aura ce que vous cherchez ! N'attendez plus, montez sur scène ! </p>
          <div class="d-flex align-item-center justify-content-around">
          <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-primary btn-lg px-5 mx-auto" %>
          </div>
    </div>
  </div>
</div>

<div class ="container-fluid pt-5 pb-5 px-3 text-center" style= "background-color: #180124">
  <div class="row align-items-center">
    <div class="col-md-6">
              <h5 class="display-6 pb-2">Vous possédez un établissement ? Venez trouver vos artistes !</h5>
          <p class="pt-2">Avoir accès aux renseignements concernant les musiciens, trouvez ceux qui animeront vos soirées !</p><br>
          <p >Ainsi vous pourrez voir leur styles musicaux et pleins d'autres choses à découvrir !</p>
          <div class="d-flex align-item-center justify-content-around">
          <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-primary btn-lg px-5 my-3 mx-auto" %>
          </div>
    </div>
    <div class="col-md-5">
      <%= image_tag 'pub.png', class: "img-fluid fa-4x rounded-start p-2", alt:"icon made by Good Ware"%>
    </div>
  </div>
</div>
