<div class="container h-100 py-2">
  <div class="mb-3">
    <%= link_to "Retour", :back %>
    <br>
    <br>
    <h3 class="mb-0 text-white">Mon style de musique </h3>
  </div>

  <div class="card rounded-3 mb-8">
    <div class="card-body d-flex flex-sm-column flex-lg-row flex-wrap justify-content-around">
      <div class="flex-column col-sm-11 col-lg-5 mx-2">
        <%= form_with url: artist_genres_create_path, method: :get, local: true do |f| %>
       
       
       
       
       
       
        <% end %>
      </div>
    </div>
  </div>
</div>
