<%= image_tag 'about.jpg', class: "img-fluid", alt: "music band" %>
<div class="container text-center mt-4 mb-5">
  <h1>Qui sommes-nous ?</h1>
  <div class="row align-items-center gy-90">
    <div class="col-lg-6 mt-5">
      <%= image_tag 'vocal_15.png', class: "img-fluid", alt: "vocal 15" %>
    </div>
    <div class="col-lg-6 mt-5">
      <h2>Le vocal 15</h2>
      <p>
        Dès le début de leur parcours sur le chemin de la gloire au sein de THP, l'équipe du vocal 15 a fait des étincelles grâce à des compétences exceptionnelles, une discipline exemplaire et une volonté à toute épreuve.
      <p>
        Ses membres, <em>Christelle, Pauline, Germain, Baptiste et Guillaume</em> vous auront très probablement marqués, surpris à quelques reprises et à coup sûr impressionnés.
      <p>
        Leur modestie les empêchera de vous le dire mais s'ils ne méritent pas les félicitations nous sommes en droit de nous le demander... </br>
        <strong>Qui le mérite ?</strong>
      </p>
    </div>
  </div>
</div>