// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  padding-top: 180px;
  position: relative;
  width: 100%;
  height: 900px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
header:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(24, 1, 36), transparent);
  z-index: 10000;
}
header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  background: rgb(24, 1, 36);
  z-index: 10000;
  mix-blend-mode: color;
}
header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main {
  padding-top: 100px;
  padding-bottom: 50px;
  background: rgb(24, 1, 36);
}
main h1 {
  font-size: 55px;
}
#text_parallax {
  margin-top: 30px;
  position: absolute;
  color: rgba(255, 255, 255, 0.873);
  font-size: 10vw;
  z-index: 1;
  opacity: 0.85;
  text-shadow: 3px 3px 4px black;
}
#crowd {
  top: 70vh;
  z-index: 4;
}
#musicians {
  width: 45vw;
  height:auto;
  left:30vw;
  top: 30vh;
  z-index: 3;
}
#cloud_bg {
  opacity: 0.5;
  z-index: 1;
}
#cloud {
  opacity: 0.5;
  z-index: 1
}

#cloud_right {
  opacity: 0.5;
  z-index: 2;
}
#bg {
  z-index: 0;
}
.main {
  color: rgb(255, 255, 255);
  padding: 2em 2em 2em 2em;
  text-align: center;
}
/* Media Queries --------------------------- */

@media only screen and (max-width: 770px) {

  main h1 {
    font-size: 32px;
  }
  main h4 {
    padding: 0 50px 0 50px;
  }
  header {
    height: 580px;
  }
  #text_parallax {
    font-size: 40px;
    text-align: center;
  }
}

@media only screen and (max-width: 425px) {
 header {
  height: 450px;
 }
}
/* ---------------------------------------------- */
